.classpath
.project
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.m2e.core.prefs
base-api/.classpath
base-api/.project
base-api/.settings/org.eclipse.core.resources.prefs
base-api/.settings/org.eclipse.jdt.core.prefs
base-api/.settings/org.eclipse.m2e.core.prefs
base-api/.settings/org.eclipse.wst.common.component
base-api/.settings/org.eclipse.wst.common.project.facet.core.xml
base-api/.settings/org.eclipse.wst.validation.prefs
base-cache/.classpath
base-cache/.project
base-cache/.settings/org.eclipse.core.resources.prefs
base-cache/.settings/org.eclipse.jdt.core.prefs
base-cache/.settings/org.eclipse.m2e.core.prefs
base-cache/.settings/org.eclipse.wst.common.component
base-cache/.settings/org.eclipse.wst.common.project.facet.core.xml
base-cache/.settings/org.eclipse.wst.validation.prefs
base-common/.classpath
base-common/.project
base-common/.settings/org.eclipse.core.resources.prefs
base-common/.settings/org.eclipse.jdt.core.prefs
base-common/.settings/org.eclipse.m2e.core.prefs
base-common/.settings/org.eclipse.wst.common.component
base-common/.settings/org.eclipse.wst.common.project.facet.core.xml
base-common/.settings/org.eclipse.wst.validation.prefs
base-service/.classpath
base-service/.project
base-service/.settings/org.eclipse.core.resources.prefs
base-service/.settings/org.eclipse.jdt.core.prefs
base-service/.settings/org.eclipse.wst.common.component
base-service/.settings/org.eclipse.wst.common.project.facet.core.xml
base-service/.settings/org.eclipse.wst.validation.prefs
base-web/.classpath
base-web/.project
base-web/.settings/.jsdtscope
base-web/.settings/org.eclipse.core.resources.prefs
base-web/.settings/org.eclipse.jdt.core.prefs
base-web/.settings/org.eclipse.m2e.core.prefs
base-web/.settings/org.eclipse.wst.common.component
base-web/.settings/org.eclipse.wst.common.project.facet.core.xml
base-web/.settings/org.eclipse.wst.jsdt.ui.superType.container
base-web/.settings/org.eclipse.wst.jsdt.ui.superType.name
base-web/.settings/org.eclipse.wst.validation.prefs
